# Node
**/node_modules
**/.npm

# Build outputs
**/build
**/.gradle

# IDE
.idea
*.iml

# Git
.git

# Logs
*.log

# Local env files
**/.env.local
**/.env.*.local

# Mobile apps (not needed for Docker)
iosApp
androidApp
composeApp
